.left-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2d4a8f;
    height: 100%;
}

.add-room {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.add-room > * {
    cursor: pointer;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.page-header .mybtn {
    width: auto;
}

.page-body {
    padding: 20px;
}