* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-50-50 > div {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.flex-30-70 > div:first-child {flex-basis: 30%;}
.flex-30-70 > div:last-child {flex-basis: 70%;}

.height-100vh {
    height: 100vh;
}

img {width: 100%}
.margin-zero {margin: 0}
.padding-zero {padding: 0}

.error {
    font-size: 13px;
    color: red;
    margin-top: 5px;
}

/* page title <h2> tag */
.page-title span {
    display: block;
    font-size: 12px;
    color: #444444;
    font-weight: 500;
}

/* form */
form > div { 
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-start;
}

form > div.password {margin: 0;}

form input {
    height: 35px;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    width: 100%;
    margin-top: 7px;
    padding: 7px;
}

form button, .mybtn {
    width: 100%;
    height: 35px;
    background: #3F51B5;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
}

form button[disabled] {
    background: #dddddd;
}

.mybtn.rounded {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

form label, form input {
    color: #444444;
}

form > div:last-child {
    margin-bottom: 0;
}


/* alignment */
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

/* modal */
.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 100%;
    height: 100%;
}

.modal-body {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    background: #ffffff;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
}

.modal-header {
    background: #2d4a8f;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header h4 {
    margin: 0;
    color: #fff;
    text-align: left;
}

.modal-header .close {
    color: #fff;
    font-weight: normal;
    cursor: pointer;
}

.modal-content {
    padding: 20px;
}

/* table */
table{width: 100%;
text-align: left;}